@use '../../../../../styles/variables.scss' as vars;

.no-products-container {
  background-color: vars.$Remy-color;
  max-width: 500px;
  margin: 2rem auto;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  i {
    font-size: larger;
    transition: transform 0.3s ease;
  }

  &:hover i {
    transform: scale(1.3);
  }
}
