<main class="home-container">
    <div class="grid">
        <div class="special-gifts-main-card col-12 md:col-4 lg:col-3">
            <img src="./images/special-gifts-beside-slider.png"
                class="w-full object-fit-cover" alt>
            <div class="main-card-content">
                <h6>Start $10.99</h6>
                <h2>Special Gifts Box For Your Love</h2>
                <button class="square-btn">Shop Now <i
                        class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="special-gifts-slider col-12 md:col-8 lg:col-9">
            <app-special-gifts-slider></app-special-gifts-slider>
        </div>
        <div class="col-12 md:col-4">
            <div class="occasion-gifts-card">
                <img src="./images/occasion-gifts-1.png"
                    class="w-full h-full object-fit-cover" alt>
                <div class="occasion-gifts-content">
                    <h6>Gifts Box</h6>
                    <h4>Awesome Gifts Box Collectons</h4>
                    <button class="curvy-btn">Shop Now</button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="occasion-gifts-card">
                <img src="./images/occasion-gifts-2.png"
                    class="w-full h-full object-fit-cover" alt>
                <div class="occasion-gifts-content">
                    <h6>Occasion Gifts</h6>
                    <h4>Best Occasion Gifts Collections</h4>
                    <button class="curvy-btn">Discover Now</button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="occasion-gifts-card">
                <img src="./images/occasion-gifts-3.png"
                    class="w-full h-full object-fit-cover" alt>
                <div class="occasion-gifts-content">
                    <h6 class="text-0">Occasion Gifts</h6>
                    <h4>Combo Sets Gift Box Up To 50% Off</h4>
                    <button class="curvy-btn">Discover Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="special-gifts-bannar grid">
        <div class="bannar-card col-12 md:col-3 md:flex flex-nowrap gap-3">
            <div class="icon-card m-auto mb-3 md:m-0">
                <img src="./images/Icon.png" alt="">
            </div>
            <div class="content-card text-center md:text-left">
                <h5>Free Delivery</h5>
                <p>Orders Over $120</p>
            </div>
        </div>

        <div class="bannar-card col-12 md:col-3 md:flex flex-nowrap gap-3">
            <div class="icon-card m-auto mb-3 md:m-0">
                <img src="./images/Icon (1).png" alt="">
            </div>
            <div class="content-card text-center md:text-left">
                <h5>Get Refund</h5>
                <p>Within 30 Days Returns</p>
            </div>
        </div>
        <div class="bannar-card col-12 md:col-3 md:flex flex-nowrap gap-3">
            <div class="icon-card m-auto mb-3 md:m-0">
                <img src="./images/Icon (2).png" alt="">
            </div>
            <div class="content-card text-center md:text-left">
                <h5>Safe Payment</h5>
                <p>100% Secure Payment</p>
            </div>
        </div>

        <div class="bannar-card col-12 md:col-3 md:flex flex-nowrap gap-3">
            <div class="icon-card m-auto mb-3 md:m-0">
                <img src="./images/Icon (3).png" alt="">
            </div>
            <div class="content-card text-center md:text-left">
                <h5>24/7 Support</h5>
                <p>Feel Free To Call Us</p>
            </div>
        </div>
    </div>
</main>