@use './../../../../style/_variables.scss' as vars;
@use './../../../../style/functions-mixins' as funs;
@use './../../../../style/break-boints' as bp;
.home-container {
  width: 90%;
  margin: auto;
  .special-gifts-main-card {
    position: relative;
    img {
      height: funs.pxToRem(vars.$slider-height);
      border-radius: 14px;
    }
    .main-card-content {
      position: absolute;
      width: 90%;
      bottom: funs.pxToRem(30);
      left: funs.pxToRem(18);
      h6 {
        font-family: vars.$roboto-font;
        color: vars.$main-color;
        letter-spacing: funs.pxToRem(7);
        font-size: funs.pxToRem(16);
        margin: 0;
      }
      h2 {
        font-family: vars.$inter-font;
        color: vars.$text-color;
        margin: funs.pxToRem(12) 0;
        font-size: funs.pxToRem(26);
      }
    }
  }
  .special-gifts-slider {
    height: 100%;
  }
  .occasion-gifts-card {
    height: funs.pxToRem(272);
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    .occasion-gifts-content {
      position: absolute;
      width: 50%;
      bottom: 50%;
      right: funs.pxToRem(20);
      text-align: right;
      transform: translateY(50%);
      font-family: vars.$inter-font;

      h6{
          font-size: funs.pxToRem(16);
          color: vars.$main-color;
          font-weight: 400;
          margin: 0;
      }
      h4{
          font-size: funs.pxToRem(20);
          color: vars.$text-color;
          margin: funs.pxToRem(14) 0;
      }
    }
  }
  .special-gifts-bannar{
    background-color: vars.$remy-color;
    border-radius: 20px;
    margin: funs.pxToRem(80) auto;
    padding: funs.pxToRem(40);
    .bannar-card{
      .icon-card{
        background-color: vars.$main-color;
        min-width: funs.pxToRem(65);
        max-width: funs.pxToRem(65);
        height: funs.pxToRem(65);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .content-card{
        font-family: vars.$roboto-font;
        h5{
          color: vars.$text-color;
          margin:0;
          font-size: funs.pxToRem(20);
        }
        p{
          color: vars.$salte-color;
          margin:funs.pxToRem(5) 0 0 0;
          font-size: funs.pxToRem(16);
        }
      }
    }
  }
}
@media only screen and (max-width: bp.$md) {
  .home-container {
    .special-gifts-main-card {
      .main-card-content {
        bottom: 50%;
        width: 60%;
        transform: translateY(50%);
      }
    }
    .occasion-gifts-card {
    height: funs.pxToRem(272);
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    .occasion-gifts-content {
      position: absolute;
      width: 80%;
      bottom: 50%;
      right: 50%;
      margin: auto;
      text-align: center;
      transform: translateX(50%) translateY(50%);
    }
  }
  }
}
