<section class="filters flex flex-column md:gap-4 gap-3 font-inter">

    <!------- Start Search ------->
    <div class="search md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-6 mb-5">Search</h4>
        <input type="text" name="search" class="py-2 search-input px-3 border-round-3xl w-full border-none" placeholder="Search By The Name">
    </div>
    <!------- End Search ------->

    <!------- Start Category ------->
    <div class="categories md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-6 mb-5">Category</h4>
        <div class="flex flex-column gap-2">
            @for (category of categories; track $index) {
                <div class="flex justify-content-between align-items-center">
                    <div class="flex align-items-center min-w-0">
                        <p-checkbox [inputId]="category.key" name="categories" [value]="category"></p-checkbox>
                        <label [for]="category.key" class="ml-2 w-full h-full cr white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            {{ category.name }}
                        </label>
                    </div>
                    <span class="flex-none ml-2">({{ category.availableProducts }})</span>
                </div>
            }
        </div>
    </div>
    <!------- End Category ------->

    <!------- Start Brands ------->
    <div class="brands md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-6 mb-5">Brands</h4>
        <div class="flex flex-column gap-2">
            @for (brand of brands; track $index) {
                <div class="flex justify-content-between align-items-center">
                    <div class="flex align-items-center min-w-0">
                        <p-checkbox [inputId]="brand.key" name="brands" [value]="brand"></p-checkbox>
                        <label [for]="brand.key" class="ml-2 w-full h-full cr white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            {{ brand.name }}
                        </label>
                    </div>
                    <span class="flex-none ml-2">({{ brand.availableProducts }})</span>
                </div>
            }
        </div>
    </div>
    <!------- End Brands ------->

    <!------- Start Price Rating ------->
    <div class="price-rating md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-5 mb-4">Price Rating</h4>
        <div class="card flex justify-center">
            <div class="w-full">
                <span class="inline-block m-2 fw-bold">$0</span>
                <span class="inline-block fw-bold">-</span>
                <span class="inline-block m-2 fw-bold">${{value}}</span>
                <p-slider [(ngModel)]="value" class="w-full mt-3 price-slider"/>
            </div>
        </div>
        <!-- <input type="text" name="Price Rating" class="py-2 px-3 border-round-3xl w-full border-none"> -->
    </div>
    <!------- End Price Rating ------->

    <!------- Start Sales ------->
    <div class="sales md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-6 mb-5">Sales</h4>
        <div class="flex flex-column gap-2">
            @for (sale of sales; track $index) {
                <div class="flex justify-content-between align-items-center">
                    <div class="flex align-items-center min-w-0">
                        <p-checkbox [inputId]="sale.key" name="sales" [value]="sale"></p-checkbox>
                        <label [for]="sale.key" class="ml-2 cr white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            {{ sale.name }}
                        </label>
                    </div>
                    <span class="flex-none ml-2">({{ sale.availableProducts }})</span>
                </div>
            }
        </div>
    </div>
    <!------- End Sales ------->

    <!------- Start Ratings ------->
    <div class="ratings md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-6 mb-5">Ratings</h4>
        @for (row of rows; track row) {
            <div class="row flex align-items-center md:gap-3 sm:gap-2 gap-1 mb-1">
                <p-checkbox [inputId]="row.key" name="rows" [value]="row"></p-checkbox>
                @for (star of [1,2,3,4,5]; track star) {
                    <label [for]="row.key">
                        <i class="fa-star color-rate cr"[ngClass]="star <= row.number ? 'fa-solid': 'fa-regular'"></i>
                    </label>
                }
            </div>
        }
    </div>
    <!------- End Ratings ------->

    <!------- Start Size ------->
    <div class="sizes md:p-4 p-3 border-round-2xl">
        <h4 class="fw-bold m-0 md:mb-6 mb-5">Sizes</h4>
        <div class="flex flex-column gap-2">
            @for (size of sizes; track $index) {
                <div class="flex align-items-center min-w-0">
                    <p-checkbox [inputId]="size.key" name="sizes" [value]="size"></p-checkbox>
                    <label [for]="size.key" class="ml-2 w-fill h-full cr white-space-nowrap  overflow-hidden text-overflow-ellipsis">
                        {{ size.name }}
                    </label>
                </div>
            }
        </div>
    </div>
    <!------- End Size ------->

</section>
