$main-color: #f82ba9;
$text-color: #160e4b;
$heliotrope-color: #8c52ff;
$remy-color: #feedf7;
$salte-color: #757f95;
$roboto-font: 'Roboto', sans-serif;
$inter-font: 'Inter', sans-serif;
$slider-height: 440;
$slider-height-md: 270;
$white: white;
