@use '../../../../../styles/variables' as vars;
.our-gallery-section {
  .header-text {
    color: var(--all-sections-headers-color);
    font-weight: 700;
    font-size: 19px;
    font-family: vars.$roboto-font;
  }
}
