/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #f82ba9;
  --text-color: #160e4b;
  --Heliotrope-color: #8c52ff;
  --Remy-color: #feedf7;
  --salte-color: #757f95;
  --Roboto-font: 'Roboto', sans-serif;
  --Inter-font: 'Inter', sans-serif;
}
